POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_DB=nomedobanco
POSTGRES_PORT=5432
DATABASE_URL="postgresql://usuario:senha@localhost:5432/nomedobanco"
JWT_SECRET="sua_chave_secreta_aqui"
PORT=3333
